<div class="flex flex-col min-h-[101vh]">
    <header class="">
        <div class="container flex gap-9 items-center">
            <a routerLink="/">
                <img src="/logo.png" alt="" class="h-[112px]">
            </a>
    
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a>
            <a routerLink="catalog" routerLinkActive="active">Catalog</a>
        </div>
    </header>
    <main class="flex-1">
        <div class="container">
            <router-outlet />
        </div>
    </main>
    <footer class="p-9 text-center">
        © 2025 Tecline.us All rights reserved! 
    </footer>
</div>