<mat-sidenav-container class="block min-h-dvh">
    <mat-sidenav #sidenav >
        <nav class="flex-initial min-h-dvh">

            <mat-tree [dataSource]="tree()" [treeControl]="treeControl" class="example-tree">
                <!-- This is the tree node template for leaf nodes -->
                <!-- There is inline padding applied to this node using styles.
                  This padding value depends on the mat-icon-button width. -->
                <mat-nested-tree-node *matTreeNodeDef="let node" (click)="$event.stopPropagation(); sidenav.close()">
                    <a [routerLink]="[node.url]" class="flex items-center cursor-pointer w-full leaf">
                        <span>{{node.label}}</span>
                    </a>
                </mat-nested-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodeToggle
                    [cdkTreeNodeTypeaheadLabel]="node.label" (click)="sidenav.close()">
                    <div class="mat-tree-node">
                        <a [routerLink]="[node.url]" class="flex items-center gap-4 cursor-pointer w-full">
                            <span class="flex-1">{{node.label}}</span>
    
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </a>
                    </div>
                    <!-- There is inline padding applied to this div using styles.
                      This padding value depends on the mat-icon-button width.  -->
                    <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
                        <ng-container matTreeNodeOutlet></ng-container>
                    </div>
                </mat-nested-tree-node>
            </mat-tree>
        </nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <main class="flex-1">
            <h1 class="font-bold mt-6 text-lg mb-9 flex items-center gap-2 cursor-pointer" (click)="sidenav.toggle()">
                <button class="mt-3">
                    <mat-icon>menu</mat-icon>
                </button>

                {{granparent()?.label}} 
                @if (!category()?.label) {
                    <mat-icon class="mat-icon-rtl-mirror">chevron_left</mat-icon>
                    Select category to see products
                }
                @if (granparent()) {
                    <mat-icon class="mat-icon-rtl-mirror">chevron_right</mat-icon>
                }
                {{parent()?.label}}
                @if (parent()) {
                    <mat-icon class="mat-icon-rtl-mirror">chevron_right</mat-icon>
                }
                 {{category()?.label}} 
                 <span class="flex-auto"></span>
                 @if (category()?.label) {
                     <span class="font-base font-normal">({{list().length}} products)</span>
                 }
            </h1>
    
            @for (item of list(); track $index) {
                <div class="flex gap-4 mb-4 w-full">
                    <img class="w-[100px] h-[100px]" [src]="baseUrl+item.photoSrc" [alt]="item.photoAlt">
                    <div class="flex-auto">
                        <h2 class="font-bold">{{item.title}}</h2>
                        <p class="my-2">REF. NUMBER:  <span class="font-bold">{{item.code}}</span></p>
                        <p>Price: <span class="font-bold">{{item.price}}</span> EUR
                        <!-- </p><p> -->
                            <button mat-stroked-button class="float-right" (click)="cart.add(item)">
                                <mat-icon>add_shopping_cart</mat-icon>
                                Order
                            </button>
                            <!-- <mat-icon>remove_shopping_cart</mat-icon> -->
                        </p>
                    </div>
                </div>
            }
    
    
            <!-- <pre>{{list() | json}}</pre> -->
            <!-- <router-outlet /> -->
        </main>
    </mat-sidenav-content>
  </mat-sidenav-container>